<!--START nicdark_site-->
<div class="nicdark_site">

    <!--START nicdark_site_fullwidth-->
    <div class="nicdark_site_fullwidth nicdark_site_fullwidth_boxed nicdark_clearfix">

        <div class="nicdark_section nicdark_position_relative ">

            <div class="nicdark_section nicdark_position_absolute">




                <!--start nicdark_container-->
                <div class="nicdark_container nicdark_clearfix nicdark_position_relative">

                    <div class="grid grid_12 nicdark_display_none_all_responsive">

                        <div class="nicdark_section nicdark_height_10"></div>

                        <!--LOGO-->
                        <a [routerLink]="['/']"><img alt=""
                                class="nicdark_position_absolute nicdark_left_15 nicdark_top_20" width="250"
                                src="assets/img/windsworth-logo.png"></a>


                        <div
                            class="nicdark_navigation_2 nicdark_text_align_right nicdark_float_right nicdark_display_none_all_responsive">
                            <ul>
                                <li>
                                    <a [routerLink]="['/']">HOME</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/account']">MY ACCOUNT</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/pricing']">PRICING MODEL</a>
                                </li>

                            </ul>

                        </div>

                        <div class="nicdark_section nicdark_height_10"></div>

                    </div>

                    <!--RESPONSIVE-->
                    <div
                        class="nicdark_width_50_percentage nicdark_text_align_center_all_iphone nicdark_width_100_percentage_all_iphone nicdark_float_left nicdark_display_none nicdark_display_block_responsive">
                        <div class="nicdark_section nicdark_height_20"></div>
                        <!--LOGO-->
                        <a href="index.html"><img alt=""
                                class="nicdark_position_absolute nicdark_left_15 nicdark_top_20" width="250"
                                src="assets/img/windsworth-logo.png"></a>

                        <div class="nicdark_section nicdark_height_10"></div>
                    </div>
                    <div
                        class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_float_left nicdark_display_none nicdark_display_block_responsive">
                        <div class="nicdark_section nicdark_height_20"></div>
                        <div
                            class="nicdark_float_right nicdark_width_100_percentage nicdark_text_align_right nicdark_text_align_center_all_iphone">


                            <ul style="list-style: none; display: inline; color: #fff;">
                                <li>
                                    <a [routerLink]="['/']" style="color: #fff;">HOME</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/account']" style="color: #fff;">MY ACCOUNT</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/pricing']" style="color: #fff;">PRICING MODEL</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!--RESPONSIVE-->


                </div>
                <!--end container-->

            </div>

        </div>






        <div class="nicdark_section nicdark_background_size_cover nicdark_background_position_center_bottom"
            style="background-image:url(assets/img/parallax/img6.png);">

            <div class="nicdark_section nicdark_bg_greydark_alpha_gradient_2">




                <!--start nicdark_container-->
                <div class="nicdark_container nicdark_clearfix">


                    <div class="nicdark_section nicdark_height_200"></div>


                    <div class="grid grid_12">



                        <strong class="nicdark_color_white nicdark_font_size_40 nicdark_first_font">Rooms</strong>


                        <div class="nicdark_section nicdark_height_20"></div>


                    </div>









                </div>
                <!--end container-->

            </div>

        </div>





        <div class="nicdark_section nicdark_bg_grey nicdark_border_bottom_1_solid_grey">

            <!--start nicdark_container-->
            <div class="nicdark_container nicdark_clearfix">

                <div class="grid grid_12">



                    <a [routerLink]="['/']">Home</a>
                    <img alt="" class="nicdark_margin_left_10 nicdark_margin_right_10" width="10"
                        src="assets/img/icons/icon-next-grey.svg">
                    <a [routerLink]="['/account']">Account</a>
                    <img alt="" class="nicdark_margin_left_10 nicdark_margin_right_10" width="10"
                        src="assets/img/icons/icon-next-grey.svg">
                    <a [routerLink]="['/profile']">Edit Profile</a>



                </div>


            </div>
            <!--end container-->

        </div>




        <div class="nicdark_section nicdark_height_50"></div>



        <div class="nicdark_section">

            <!--start nicdark_container-->
            <div class="nicdark_container nicdark_clearfix">

                <div class="grid grid_4">




                    <div class="nicdark_section nicdark_box_sizing_border_box">

                        <!--start preview-->
                        <div class="nicdark_section ">

                            <!--image-->
                            <div class="nicdark_section nicdark_position_relative">

                                <img alt="" class="nicdark_section" [src]="avatar">

                                <div
                                    class="nicdark_bg_greydark_alpha_gradient nicdark_position_absolute nicdark_left_0 nicdark_height_100_percentage nicdark_width_100_percentage nicdark_padding_20 nicdark_box_sizing_border_box">
                                    <div class="nicdark_position_absolute nicdark_bottom_20">
                                        <h2 class="nicdark_color_white" *ngIf="userdata">{{ fullName }}</h2>
                                    </div>

                                </div>

                            </div>
                            <!--image-->


                            <div class="nicdark_section nicdark_box_sizing_border_box">

                                <div class="nicdark_section nicdark_bg_greydark">
                                    <table class="nicdark_section ">
                                        <tbody>

                                            <tr class="">
                                                <td class="nicdark_padding_30">
                                                    <h5
                                                        class="nicdark_font_size_13 nicdark_text_transform_uppercase nicdark_color_grey">
                                                        First Name</h5>
                                                    <div class="nicdark_section nicdark_height_5"></div>
                                                    <p class="nicdark_color_white nicdark_line_height_16" *ngIf="userdata">{{ userdata.first_name }}</p>
                                                </td>
                                                <td class="nicdark_padding_30">
                                                    <h5
                                                        class="nicdark_font_size_13 nicdark_text_transform_uppercase nicdark_color_grey">
                                                        Last Name</h5>
                                                    <div class="nicdark_section nicdark_height_5"></div>
                                                    <p class="nicdark_color_white nicdark_line_height_16" *ngIf="userdata">{{ userdata.last_name }}</p>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>


                            </div>

                            <div
                                class="nicdark_section nicdark_padding_10 nicdark_box_sizing_border_box nicdark_bg_white ">
                                <div
                                    class="nicdark_width_50_percentage nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left nicdark_text_align_center">
                                    <a class="nicdark_display_inline_block nicdark_color_white nicdark_bg_red nicdark_box_sizing_border_box nicdark_width_100_percentage nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13"
                                    [routerLink]="['/account']">GO BACK</a>
                                </div>

                            </div>



                        </div>
                        <!--start preview-->

                    </div>

                </div>


                <div class="grid grid_8">

                    <div class="nicdark_section">


                        <!--START tab-->
                        <div class="nicdark_tabs">
                            <ul
                                class="nicdark_list_style_none nicdark_margin_0 nicdark_padding_0 nicdark_section nicdark_border_bottom_2_solid_grey">
                                <li class="nicdark_display_inline_block">
                                    <h4>
                                        <a class="nicdark_outline_0 nicdark_padding_20 nicdark_padding_right_10 nicdark_display_inline_block nicdark_first_font nicdark_color_greydark"
                                            href="#tabs-1">Update Information</a>
                                    </h4>
                                </li>

                            </ul>





                        </div>

                        <div class="nicdark_section" id="tabs-4" *ngIf="userdata">

                            <div
                                class="nicdark_width_100_percentage nicdark_width_100_percentage_responsive nicdark_float_left nicdark_padding_20 nicdark_box_sizing_border_box">

                                <!--form-->
                                <div class="nicdark_section">
                                    <div
                                        class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                        <input
                                            class="nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_bottom_width_2 nicdark_border_right_width_0 nicdark_border_left_width_0"
                                            type="text" placeholder="First Name" [(ngModel)]="userdata.first_name">
                                    </div>
                                    <div
                                        class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                        <input
                                            class="nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_bottom_width_2 nicdark_border_right_width_0 nicdark_border_left_width_0"
                                            type="text" placeholder="Last Name" [(ngModel)]="userdata.last_name">
                                    </div>
                                </div>
                                <div class="nicdark_section">
                                    <div
                                        class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                        <input
                                            class="nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_bottom_width_2 nicdark_border_right_width_0 nicdark_border_left_width_0"
                                            type="text" placeholder="Phone Number" [(ngModel)]="userdata.phone">
                                    </div>
                                    <div
                                        class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                        <input
                                            class="nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_bottom_width_2 nicdark_border_right_width_0 nicdark_border_left_width_0"
                                            type="date" placeholder="Date of Birth" [(ngModel)]="dob" [value]="userdata.dob | date:'yyyy-MM-dd'">
                                    </div>
                                </div>
                                <div class="nicdark_section">
                                    <div
                                        class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                        <input
                                            class="nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_bottom_width_2 nicdark_border_right_width_0 nicdark_border_left_width_0"
                                            type="text" placeholder="Street" [(ngModel)]="userdata.address">
                                    </div>
                                    <div
                                        class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                        <input
                                            class="nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_bottom_width_2 nicdark_border_right_width_0 nicdark_border_left_width_0"
                                            type="text" placeholder="Course" [(ngModel)]="userdata.course">
                                    </div>
                                </div>
                                <!-- <div class="nicdark_section">
                                    <div
                                        class="nicdark_width_100_percentage nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                        <select class="form-control nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_bottom_width_2 nicdark_border_right_width_0 nicdark_border_left_width_0"
                                            [(ngModel)]="userdata.country">
                                            <option value="" disabled="disabled" selected="selected">Select Country</option>
                                            <option [value]="country.countryId" *ngFor="let country of countries"> {{ country.countryName }}</option>
                                        </select>
                                    </div>
                                </div> -->
                                <div class="nicdark_section">
                                    <div
                                        class="nicdark_width_100_percentage nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                        <button
                                                class="nicdark_bg_white_hover nicdark_color_green_hover nicdark_border_2_solid_green nicdark_transition_all_08_ease nicdark_display_inline_block nicdark_text_align_center nicdark_box_sizing_border_box nicdark_width_100_percentage nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_10_20 nicdark_border_radius_3 "
                                                (click)="SaveProfile(userdata)" [disabled]="loading">
                                                {{ loading ? 'Processing...' : 'SAVE CHANGES' }} <i
                                                    class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                            </button>
                                    </div>
                                    <div *ngIf="has_error">
                                        <p class="text-center text-danger">{{ error_msg }}</p>
                                    </div>
                                </div>
                                <!--form-->





                            </div>


                        </div>

                    </div>


                </div>

            </div>
            <!--END tab-->


            <!--START Dialog-->
            <!--<div class="nicdark_dialog" title="Basic dialog">
                          <p>This is an animated dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
                        </div>-->

            <!--<button class="nicdark_dialog_open">Open Dialog</button>-->
            <!--END Dialog-->


        </div>

    </div>
    <!--end container-->


</div>
<!--end container-->